---
import GalleryLayout from "$lib/layouts/GalleryPage.astro";

const OPTIONS = "rs:fit:1280:0";
const THUMB_OPTIONS = "rs:fit:20:0";
const FILE = "@webp";
const PROXY = `http://coolcache.cycocyan.xyz/insecure/${OPTIONS}/plain/local:///cooltrees/gallery`;
const THUMB_PROXY = `http://coolcache.cycocyan.xyz/insecure/${THUMB_OPTIONS}/plain/local:///cooltrees/gallery`;

export async function getStaticPaths() {
    const response = await fetch("https://api-cooltrees.cycocyan.xyz/files");
    const allImages = await response.json();
    return allImages
        .filter((img) => !img.name.includes(".MOV"))
        .map(({ name, slug }) => ({
            params: { slug },
            props: { name },
        }));
}

let { slug } = Astro.params;
let { name } = Astro.props;
---

<GalleryLayout>
    <div class="relative w-full h-full overflow-hidden">
        <img
            class="absolute inset-0 w-full h-full object-cover blur-md"
            src={`${THUMB_PROXY}/${name}${FILE}`}
            alt={`cooltrees-${slug}`}
            loading="eager"
        />
        <img
            style={`view-transition-name: hero-image-${slug}`}
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-700"
            src={`${PROXY}/${name}${FILE}`}
            alt={`cooltrees-${slug}`}
            loading="lazy"
            onload="this.classList.remove('opacity-0');"
        />
    </div>
</GalleryLayout>
